.gray:after {
    clear: both;
    display: table;
    content: " ";
}

#favoriteMensa,
.back-to-overview,
.abstand + .row,
.toolt .tooltip_content {
    display: none;
}

.nav.splTage,
.toggleAllergenFilterPanel,
#listboxEinrichtungen {
    opacity: 0.5;
    pointer-events: none;
}

.kennz {
    display: inline-block;
}